<app-home-filtered-radio-button
  (statusChange)="onStatusFilterChange($event)"
></app-home-filtered-radio-button>

<div class="card-container" *ngIf="filteredLeads && filteredLeads.length > 0">
  <div *ngFor="let lead of filteredLeads" (click)="onLeadSelected(lead)" class="meal-card">
    <img [src]="lead.avatar">
    <h2>{{ lead.clientName }}</h2>
    <p>Status: {{ lead.status }}</p>
  </div>
</div>

<button (click)="resetFilters()" class="reload">Reset</button>

<footer class="site-footer">
  <h6>@Development Stage</h6>
</footer>
