<section class="lead-list-page">
  <app-home-filtered-radio-button
    (statusChange)="onStatusFilterChange($event)"
  ></app-home-filtered-radio-button>

  <div class="card-container" *ngIf="filteredLeads && filteredLeads.length > 0">
    <div *ngFor="let lead of filteredLeads" (click)="onLeadSelected(lead)" class="meal-card">
      <img [src]="lead.avatar" [alt]="lead.clientName">
      <h2>{{ lead.clientName }}</h2>
      <p>Status: {{ lead.status }}</p>
    </div>
  </div>

  <button (click)="resetFilters()" class="reload">Reset</button>

</section>
