.cookie_popup{
     background-color: bisque;
    
}
p{
    color: black;

}
.nav{
    
    justify-content: right;
    margin-right: 120px;
}
.search{
    border-color: brown;
    color: brown;
    
}
.search::placeholder{
    color: brown;
}
.comb{
    gap: 12px;
    display: flex;
   
}
.btn{ 
    border-color: brown;
    color: brown;
}